@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 249, 228;
  --background-end-rgb: 250, 249, 228;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fontedMontserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.fontedBebas {
  font-family: 'BebasNeue';
  letter-spacing: 3px;
  font-size: 22px;
}



#comunidad-bts {
  position: relative;
  display: flex;
  margin-top: -20px;
  margin-bottom: 20px;
}
#comunidad-bts li {
    position: relative;
    list-style: none;
    margin: 0 0px;
    cursor: pointer;
}
#comunidad-bts li a {
    text-decoration: none;
}
#comunidad-bts li a .fa-brands {
    font-size: 1.5em;
    color: #fff;
    padding-top: 0.25em;
}
#comunidad-bts li a .fab {
    font-size: 3em;
    color: #fff;
    padding-top: 0.25em;
}
#comunidad-bts li a::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

/* @media (max-width: 701px){
  #comunidad-bts li a::before {
    left: 20px;
}
} */

#comunidad-bts #cbts-ig a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}
#comunidad-bts #cbts-md a::before {
    content: "\f23a";
    color: white;
    border-bottom: 4px solid white;
}
#comunidad-bts #cbts-li a::before {
    content: "\f08c";
    color: #0077B5;
    border-bottom: 4px solid #0077B5;
}

#comunidad-bts #cbts-github a::before {
    content: "\f09b";
    color: #FF7878;
    border-bottom: 4px solid #FF7878;
}

#comunidad-bts #cbts-behance a::before {
  content: "\f1b4";
  color: #FF78B9;
  border-bottom: 4px solid #FF78B9;
}

#comunidad-bts #cbts-twitter a::before {
  content: "\f099";
  color: #78A6FF;
  border-bottom: 4px solid #78A6FF;
}

#comunidad-bts li:hover a::before {
    height: 100%;
}